/* style.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */

  background-color: cornflowerblue;

/*
   background: linear-gradient(-45deg, #75cfb8, #bbdfc8, #f0e5d8, #ffc478);
	 background-size: 400% 400%;
	 animation: gradient 15s ease infinite;*/
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/

.top {
  background-image: url("assets/logo.svg");
  width: 100%;
  position: absolute;
  height: 80px;
}

canvas {
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(110px);
}